body  {
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}

.row {
    font-family: 'Lobster', cursive;
    font-size: 35px;
}

.jumbotron {
    background-image: linear-gradient(150deg, #a6c0fe 0%, #f68084 100%);

}